In [20]:
import pandas as pd
df = pd.DataFrame([[100,200,300],[400,500,600]], columns=['a','b','c'], index=['one','two'])
df.reindex(index=['two','one'])
df.reindex(columns=['c','b','a'])

# Panel
#pandas.Panel(data, items, major_axis, minor_axis, dtype)

import numpy as np
data = np.random.rand(2,4,5)
p=pd.Panel(data)

data2={'item1':pd.DataFrame(np.random.rand(4,3)), 'item2':pd.DataFrame(np.random.rand(4,2))}
p2=pd.Panel(data2)
p2

# Statics
d={'Name': ['tom','john','amy'],'Age': pd.Series([20,21,23]), 'Rating':pd.Series([4.5,3.9,3.4])}
df2=pd.DataFrame(d)
df2
df2.sum()
df2.sum(axis=1)
df2.std()
df2.describe()

             Age    Rating
count   3.000000  3.000000
mean   21.333333  3.933333
std     1.527525  0.550757
min    20.000000  3.400000
25%    20.500000  3.650000
50%    21.000000  3.900000
75%    22.000000  4.200000
max    23.000000  4.500000